:root{
    --white:rgb(248, 248, 248);
    --lightblue:rgb(71, 148, 215);
    --gray:rgb(223, 223, 223);

    --dark-gray:rgb(97, 97, 97);
    --yellorange:rgb(207, 178, 12);
}

*{
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

/* +++++++++++++++++++++++++++++++++++++ */
/* Main Grid template */

.main{
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(14rem,1fr)  minmax(42rem,4fr);
    grid-template-rows: 1fr 5fr;
}


/* +++++++++++++++++++++++++++++++++++++ */
/* Left-sidebar */

.left-sidebar{
    background-color:var(--lightblue);
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 4rem 1fr;
}

.dashboard-header{
    margin: 0.5rem;
}

.dashboard-header h1{
    color: var(--white);
    font-size: x-large;
}

.dashboard-menu{
    display: grid;
    grid-template-rows: 13rem 1fr;
}

.left-sidebar-option svg, .dashboard-header svg{
    fill:var(--white);
    margin: 0rem 16px;
}

.dashboard-header svg{
    height: 2rem;
    margin: 0 10px;
}

.left-sidebar-option svg{
    height: 1.3rem;
}

.left-sidebar-option{
    text-decoration: none;
    color: var(--white);
    width: 100%;
    margin: 0.5rem;
    font-weight: 400;
}

.left-sidebar-option:hover{
    opacity: 80%;
}

.left-sidebar-option, .dashboard-header{
    display: flex;
    justify-content: start;
    align-items:end;
    
}

/* +++++++++++++++++++++++++++++++++++++ */
/* Header */

.header{
    background-color:var(--white);
    grid-column: 2/3;
} 

.header img{
    border-radius: 50%;   
    border: black 1px dashed;
}

.first-header-row{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 17rem;
    padding: 24px;

}

.search-bar input[type="search"]{
    border: 0px;
    background-color: var(--gray);
    border-radius: 0.6rem;
    height: 1.2rem;
    padding-left: 12px;

}

.search-bar{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: 1rem 1fr;
    gap: 1rem;
    padding-right: 2rem;
}

.admin-profile-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
}

.header svg{
    height: 1rem;
}

.second-header-row{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 17rem;
    padding: 0 24px 12px 24px;

}

.welcome-header{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 80px 1fr;
}

.welcome-header-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.welcome-header-text h2{
    font-size: large;
}

.header-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
}

.header-buttons button{
    border: 0;
    background-color: var(--lightblue);
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.header-buttons button:hover{
    opacity: 80%;
}

/* +++++++++++++++++++++++++++++++++++++ */
/* Main container */

.content-container{
    background-color: var(--gray);
    display: grid;
    grid-template-columns: 3fr minmax(18rem,1fr);
}

.content-sidebar, .main-content-container{
    padding: 1rem;
}

.content-sidebar-title, .main-content-title{
    margin: 1rem 0;
}

.announcements-container, .trending-container{
    background-color: var(--white);
    border-radius: 1rem;
    padding: 2rem;
}

.announcements-container h3{
    font-size: medium;
}

.announcements-container p{
    font-size: small;
    color: var(--dark-gray);
    margin-top: 0.5rem;
    
}

.announcements-container hr{
    margin: 1rem 0;
}

.trending-user{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 4rem 1fr;
    align-items: center;
    margin-top: 1rem;
}

.trending-user:first-of-type{
    margin-top: 0;
}

.trending-user-tag::before{
    content: "@";
}

.trending-user-tag{
    font-size: small;
}

.trending-user-description{
    color: var(--dark-gray);
    font-size: x-small;
}

.trending-user img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-right: 1rem;
    
}

.projects-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap:2rem;
}

.project-card{
    position: relative;
    border-left: var(--yellorange) 8px solid;
    border-radius: 0.5rem;
    background-color: var(--white);
    padding: 1rem;
    height: 12rem;
}

.project-card h3{
    margin: 1rem 0;
}

.project-card p{
    color: var(--dark-gray);
}

.project-actions{
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: -5rem;
}

.project-actions svg{
    height:1rem;
    margin:0 0.5rem;
}

.project-actions svg:hover{
    fill: var(--dark-gray);
}